<!-- Select environments -->
<div class="split-hor-short" style="align-items: end; height: fit-content;">
    <div class="split-vert">
        <p class="property-label">
            <label class="property-label-input" for="select-environments-input-select-environment1-name">Environment 1:</label>
            <select class="combobox" id="select-environments-input-select-environment1-name" name="select-environments-input-select-environment1-name">
                <option style="display: none;"></option>
            </select>
        </p>
    </div>

    <div class="split-vert">
        <p class="property-label">
            <label class="property-label-input" for="select-environments-input-select-environment2-name">Environment 2:</label>
            <select class="combobox" id="select-environments-input-select-environment2-name" name="select-environments-input-select-environment2-name">
                <option style="display: none;"></option>
            </select>
        </p>
    </div>

    <button class="cmf-button cmf-button-primary" id="select-environments-button-compare" style="margin: 20px;" disabled>Compare</button>
</div>

<hr>