<form class="form" onsubmit="return false;" style="width: 90%">
  <div class="split-vert">
    <!--Name-->
    <div class="split-hor" style="position: relative">
      <div class="form-field form-label">
        <span><b>Name:</b></span>
      </div>
      <input type="text" class="form-field form-input" id="name-input" placeholder="Search name..." autocomplete="off" />
      <div id="suggestions-dropdown" class="form-field" hidden></div>
      <div class="form-field form-icon">
        <i class="fa fa-info-circle" id="name-icon" aria-hidden="true"></i>
        <div class="tooltip" id="name-tooltip"></div>
      </div>
    </div>
    <!--Competency-->
    <div class="split-hor">
      <div class="form-field form-label">
        <span><b>Competency:</b></span>
      </div>
      <select class="form-field form-select" id="competency-input">
        <option value="" disabled selected>Select a competency</option>
        <option value="general">General</option>
        <option value="execution-and-delivery">Execution and Delivery</option>
        <option value="innovation">Innovation</option>
        <option value="agility">Agility</option>
        <option value="commitment">Commitment</option>
        <option value="communication">Communication</option>
        <option value="customer-orientation">Customer Orientation</option>
      </select>
      <div class="form-field form-icon">
        <i class="fa fa-info-circle" id="competency-icon" aria-hidden="true"></i>
        <div class="tooltip" id="competency-tooltip"></div>
      </div>
    </div>
    <!--Privacy-->
    <div class="split-hor">
      <div class="form-field form-label">
        <span><b>Privacy:</b></span>
      </div>
      <select class="form-field form-select" id="privacy-input">
        <option value="" disabled selected>Select privacy level</option>
        <option value="anonymous">Anonymous</option>
        <option value="private">Private</option>
        <option value="public">Public</option>
      </select>
      <div class="form-field form-icon">
        <i class="fa fa-info-circle" id="privacy-icon" aria-hidden="true"></i>
        <div class="tooltip" id="privacy-tooltip"></div>
      </div>
    </div>
    <!--Rating-->
    <div class="split-hor">
      <div class="form-field form-label">
        <span><b>Rating:</b></span>
      </div>
      <div class="form-field form-rating" id="rating-input">
        <input type="radio" class="star-input" id="star4" name="rating" value="4" />
        <label for="star4" class="star-label">&#9733;</label>
        <input type="radio" class="star-input" id="star3" name="rating" value="3" />
        <label for="star3" class="star-label">&#9733;</label>
        <input type="radio" class="star-input" id="star2" name="rating" value="2" />
        <label for="star2" class="star-label">&#9733;</label>
        <input type="radio" class="star-input" id="star1" name="rating" value="1" />
        <label for="star1" class="star-label">&#9733;</label>
      </div>
      <div class="form-field form-icon">
        <i class="fa fa-info-circle" id="rating-icon" aria-hidden="true"></i>
        <div class="tooltip" id="rating-tooltip"></div>
      </div>
    </div>
    <!--Title-->
    <div class="split-hor">
      <div class="form-field form-label">
        <span><b>Title:</b></span>
      </div>
      <input type="text" class="form-field form-input" id="title-input" placeholder="Enter title..." />
      <div class="form-field form-icon">
        <i class="fa fa-info-circle" id="title-icon" aria-hidden="true"></i>
        <div class="tooltip" id="title-tooltip"></div>
      </div>
    </div>
    <!--Positive Message-->
    <div class="split-hor">
      <div class="form-field form-label">
        <span><b>Positive:</b></span>
      </div>
      <textarea class="form-field form-textarea" id="positive-input" placeholder="Describe positive aspects..."></textarea>
      <div class="form-field form-icon">
        <i class="fa fa-info-circle" id="positive-icon" aria-hidden="true"></i>
        <div class="tooltip" id="positive-tooltip"></div>
      </div>
    </div>
    <!--Negative Message-->
    <div class="split-hor">
      <div class="form-field form-label">
        <span><b>To be improved:</b></span>
      </div>
      <textarea class="form-field form-textarea" id="negative-input" placeholder="Describe aspects to be improved..."></textarea>
      <div class="form-field form-icon">
        <i class="fa fa-info-circle" id="negative-icon" aria-hidden="true"></i>
        <div class="tooltip" id="negative-tooltip"></div>
      </div>
    </div>
    <!--Buttons-->
    <div id="submit-form-buttons-container">
      <button type="reset" class="cmf-button cmf-button-primary" id="reset-form-button">Reset</button>
      <button type="submit" class="cmf-button cmf-button-primary" id="save-form-button">Save</button>
      <button type="submit" class="cmf-button cmf-button-primary" id="share-form-button">Share</button>
    </div>
  </div>
</form>
