<form class="form" onsubmit="return false;" style="width: 90%; padding-bottom: 100px">
  <div class="split-vert">
    <!--Target-->
    <div class="split-hor form-field-container" style="position: relative">
      <div class="form-field form-label">
        <span><b>Target:</b></span>
      </div>
      <input type="text" class="form-field form-text" id="target-input" placeholder="Search target..." autocomplete="off" />
      <div id="target-dropdown" class="form-field suggestions-dropdown" hidden></div>
      <div class="form-field form-icon">
        <i class="fa fa-info-circle" id="target-icon" aria-hidden="true"></i>
        <div class="tooltip" id="target-tooltip"></div>
      </div>
    </div>
    <!--Type-->
    <div class="split-hor form-field-container">
      <div class="form-field form-label">
        <span><b>Type:</b></span>
      </div>
      <div class="form-field form-radio" id="type-input">
        <div class="radio-container">
          <input type="radio" class="radio-input" id="performance-radio" name="type" value="performance" checked />
          <label for="performance-radio" class="radio-label">Performance</label>
        </div>
        <div class="radio-container">
          <input type="radio" class="radio-input" id="continuous-radio" name="type" value="continuous" />
          <label for="continuous-radio" class="radio-label">Continuous</label>
        </div>
      </div>
      <div class="form-field form-icon">
        <i class="fa fa-info-circle" id="type-icon" aria-hidden="true"></i>
        <div class="tooltip" id="type-tooltip"></div>
      </div>
    </div>
    <!--Context-->
    <div class="split-hor form-field-container">
      <div class="form-field form-label">
        <span><b>Context:</b></span>
      </div>
      <select class="form-field form-select" id="context-input">
        <option value="" disabled selected>Select a context</option>
        <option class="performance-type-only" value="feedback">Feedback</option>
        <option class="performance-type-only" value="council">Council</option>
        <option class="performance-type-only" value="squad">Squad</option>
        <option class="performance-type-only" value="quality">Quality</option>
        <option class="performance-type-only" value="other">Other</option>
        <option class="continuous-type-only" value="team care" style="display: none">Team Care</option>
        <option class="continuous-type-only" value="1:1" style="display: none">1:1</option>
        <option class="continuous-type-only" value="PRP" style="display: none">PRP</option>
        <option class="continuous-type-only" value="TL/PM feedback" style="display: none">TL/PM Feedback</option>
        <option class="continuous-type-only" value="radar" style="display: none">Radar</option>
      </select>
      <div class="form-field form-icon">
        <i class="fa fa-info-circle" id="context-icon" aria-hidden="true"></i>
        <div class="tooltip" id="context-tooltip"></div>
      </div>
    </div>
    <!--Competency-->
    <div class="split-hor form-field-container">
      <div class="form-field form-label">
        <span><b>Competency / Company Value:</b></span>
      </div>
      <select class="form-field form-select" id="competency-input">
        <option value="" disabled selected>Select a competency / company value</option>
        <option value="general">General</option>
        <option value="execution-and-delivery">Execution and Delivery</option>
        <option value="innovation">Innovation</option>
        <option value="agility">Agility</option>
        <option value="commitment">Commitment</option>
        <option value="communication">Communication</option>
        <option value="customer-orientation">Customer Orientation</option>
      </select>
      <div class="form-field form-icon">
        <i class="fa fa-info-circle" id="competency-icon" aria-hidden="true"></i>
        <div class="tooltip" id="competency-tooltip"></div>
      </div>
    </div>
    <!--Privacy-->
    <div class="split-hor form-field-container">
      <div class="form-field form-label">
        <span><b>Privacy:</b></span>
      </div>
      <select class="form-field form-select" id="privacy-input">
        <option value="" disabled selected>Select privacy level</option>
        <option value="private">Private</option>
        <option value="public">Public</option>
      </select>
      <div class="form-field form-icon">
        <i class="fa fa-info-circle" id="privacy-icon" aria-hidden="true"></i>
        <div class="tooltip" id="privacy-tooltip"></div>
      </div>
    </div>
    <!--Rating-->
    <div class="split-hor form-field-container">
      <div class="form-field form-label">
        <span><b>Rating:</b></span>
      </div>
      <div class="form-field form-rating" id="rating-input">
        <input type="radio" class="star-input" id="star4" name="rating" value="4" />
        <label for="star4" class="star-label">&#9733;</label>
        <input type="radio" class="star-input" id="star3" name="rating" value="3" />
        <label for="star3" class="star-label">&#9733;</label>
        <input type="radio" class="star-input" id="star2" name="rating" value="2" />
        <label for="star2" class="star-label">&#9733;</label>
        <input type="radio" class="star-input" id="star1" name="rating" value="1" />
        <label for="star1" class="star-label">&#9733;</label>
      </div>
      <div class="form-field form-icon">
        <i class="fa fa-info-circle" id="rating-icon" aria-hidden="true"></i>
        <div class="tooltip" id="rating-tooltip"></div>
      </div>
    </div>
    <!--Positive Message-->
    <div class="split-hor form-field-container">
      <div class="form-field form-label">
        <span><b>Positive:</b></span>
      </div>
      <textarea class="form-field form-textarea" id="positive-input" placeholder="Describe positive aspects..."></textarea>
      <div class="form-field form-icon">
        <i class="fa fa-info-circle" id="positive-icon" aria-hidden="true"></i>
        <div class="tooltip" id="positive-tooltip"></div>
      </div>
    </div>
    <!--Negative Message-->
    <div class="split-hor form-field-container">
      <div class="form-field form-label">
        <span><b>To be improved:</b></span>
      </div>
      <textarea class="form-field form-textarea" id="negative-input" placeholder="Describe aspects to be improved..."></textarea>
      <div class="form-field form-icon">
        <i class="fa fa-info-circle" id="negative-icon" aria-hidden="true"></i>
        <div class="tooltip" id="negative-tooltip"></div>
      </div>
    </div>
    <!--Actions-->
    <div class="split-hor form-field-container continuous-type-only" style="display: none">
      <div class="form-field form-label">
        <span><b>Actions:</b></span>
      </div>
      <textarea class="form-field form-textarea" id="actions-input" placeholder="Write actions..."></textarea>
      <div class="form-field form-icon">
        <i class="fa fa-info-circle" id="actions-icon" aria-hidden="true"></i>
        <div class="tooltip" id="actions-tooltip"></div>
      </div>
    </div>
    <!--Responsible-->
    <div class="split-hor form-field-container continuous-type-only" style="position: relative; display: none">
      <div class="form-field form-label">
        <span><b>Responsible:</b></span>
      </div>
      <input type="text" class="form-field form-text" id="responsible-input" placeholder="Search responsible..." autocomplete="off" />
      <div id="responsible-dropdown" class="form-field suggestions-dropdown" hidden></div>
      <div class="form-field form-icon">
        <i class="fa fa-info-circle" id="responsible-icon" aria-hidden="true"></i>
        <div class="tooltip" id="responsible-tooltip"></div>
      </div>
    </div>
    <!--Status-->
    <div class="split-hor form-field-container continuous-type-only" style="display: none">
      <div class="form-field form-label">
        <span><b>Status:</b></span>
      </div>
      <select class="form-field form-select" id="status-input">
        <option value="" disabled selected>Select a status</option>
        <option value="new">New</option>
        <option value="active">Active</option>
        <option value="closed">Closed</option>
      </select>
      <div class="form-field form-icon">
        <i class="fa fa-info-circle" id="status-icon" aria-hidden="true"></i>
        <div class="tooltip" id="status-tooltip"></div>
      </div>
    </div>
    <!--Deadline-->
    <div class="split-hor form-field-container continuous-type-only" style="display: none">
      <div class="form-field form-label">
        <span><b>Deadline:</b></span>
      </div>
      <input type="date" class="form-field form-date" id="deadline-input" />
      <div class="form-field form-icon">
        <i class="fa fa-info-circle" id="deadline-icon" aria-hidden="true"></i>
        <div class="tooltip" id="deadline-tooltip"></div>
      </div>
    </div>
    <!--Buttons-->
    <div id="submit-form-buttons-container">
      <button type="reset" class="cmf-button cmf-button-primary" id="reset-form-button">Reset</button>
      <button type="submit" class="cmf-button cmf-button-primary" id="save-form-button">Save</button>
      <button type="submit" class="cmf-button cmf-button-primary" id="share-form-button">Share</button>
    </div>
  </div>
</form>
