<div class="split-vert">
  <!--Info Section-->
  <div class="feedback-section" id="info-section">
    <h2>Basic Info</h2>
    <hr />
    <!--From-->
    <div class="key-value-container">
      <div class="key">From</div>
      <div class="value" id="from-value">sender name</div>
    </div>
    <!--To-->
    <div class="key-value-container">
      <div class="key">To</div>
      <div class="value" id="to-value">target name</div>
    </div>
    <!--Date-->
    <div class="key-value-container">
      <div class="key">Date</div>
      <div class="value" id="date-value">submission date</div>
    </div>
    <!--Time-->
    <!--
    <div class="key-value-container">
      <div class="key">Time</div>
      <div class="value" id="time-value">submission time</div>
    </div>
    -->
    <!--Type-->
    <div class="key-value-container">
      <div class="key">Type</div>
      <div class="value" id="type-value">type</div>
    </div>
    <!--Context-->
    <div class="key-value-container">
      <div class="key">Context</div>
      <div class="value" id="context-value">context</div>
    </div>
    <!--Competency-->
    <div class="key-value-container">
      <div class="key">Competency / Company Value</div>
      <div class="value" id="competency-value">competency</div>
    </div>
    <!--Rating-->
    <div class="key-value-container" id="rating-container">
      <div class="key">Rating</div>
      <div class="value" id="rating-value">
        <span id="star1">&#9733;</span>
        <span id="star2">&#9733;</span>
        <span id="star3">&#9733;</span>
        <span id="star4">&#9733;</span>
      </div>
    </div>
    <!--Positive Message-->
    <div class="key-value-container">
      <div class="key">Positive</div>
      <div class="value" id="positive-value">positive message</div>
    </div>
    <!--Negative Message-->
    <div class="key-value-container">
      <div class="key">To be Improved</div>
      <div class="value" id="negative-value">negative message</div>
    </div>
  </div>

  <!--Continuous Section-->
  <div class="feedback-section" id="continuous-section">
    <h2>Continuous Feedback Fields</h2>
    <hr />
    <!--Actions-->
    <div class="key-value-container">
      <div class="key">Actions</div>
      <div class="value" id="actions-value">actions</div>
    </div>
    <!--Responsible-->
    <div class="key-value-container">
      <div class="key">Responsible</div>
      <div class="value" id="responsible-value">responsible</div>
    </div>
    <!--Status-->
    <div class="key-value-container">
      <div class="key">Status</div>
      <div class="value" id="status-value">status</div>
    </div>
    <!--Deadline-->
    <div class="key-value-container">
      <div class="key">Deadline</div>
      <div class="value" id="deadline-value">deadline</div>
    </div>
  </div>

  <!--Appraiser Section-->
  <div class="feedback-section" id="appraiser-section">
    <h2>Appraiser Edits and Notes</h2>
    <hr />
    <!--Positive Appraiser Edit-->
    <div class="key-value-container">
      <div class="key">Positive</div>
      <div class="value" id="appraiser-positive-value">positive message appraiser edit</div>
    </div>
    <!--Negative Appraiser Edit-->
    <div class="key-value-container">
      <div class="key">To be Improved</div>
      <div class="value" id="appraiser-negative-value">negative message appraiser edit</div>
    </div>
    <!--Appraiser Notes-->
    <div class="key-value-container">
      <div class="key">My Notes</div>
      <div class="value" id="appraiser-notes-value">appraiser notes</div>
    </div>
  </div>

  <!--Options Section-->
  <div class="feedback-section" id="options-section">
    <h2>Options</h2>
    <hr />
    <div id="options-buttons-container">
      <button class="options-button cmf-button cmf-button-primary" id="unread-button">Mark as Unread</button>
      <button class="options-button cmf-button cmf-button-primary" id="share-with-appraiser-button">Share with Appraiser</button>
      <button class="options-button cmf-button cmf-button-primary" id="share-with-manager-button">Share with Manager</button>
      <button class="options-button cmf-button cmf-button-primary" id="share-with-target-button">Share with Target</button>
      <button class="options-button cmf-button cmf-button-primary" id="edit-button">Edit</button>
      <button class="options-button cmf-button cmf-button-primary" id="delete-button">Delete</button>
    </div>
  </div>
</div>
