<div class="split-vert">
  <!--Info Section-->
  <div class="feedback-section" id="info-section">
    <h3>Basic Info</h3>
    <hr />
    <!--From-->
    <div class="key-value-container">
      <div class="key">From</div>
      <div class="vlaue" id="from-value">sender name</div>
    </div>
    <!--To-->
    <div class="key-value-container">
      <div class="key">To</div>
      <div class="vlaue" id="to-value">target name</div>
    </div>
    <!--Date-->
    <div class="key-value-container">
      <div class="key">Date</div>
      <div class="vlaue" id="date-value">submission date</div>
    </div>
    <!--Time-->
    <!--
    <div class="key-value-container">
      <div class="key">Time</div>
      <div class="vlaue" id="time-value">submission time</div>
    </div>
    -->
    <!--Type-->
    <div class="key-value-container">
      <div class="key">Type</div>
      <div class="vlaue" id="type-value">type</div>
    </div>
    <!--Context-->
    <div class="key-value-container">
      <div class="key">Context</div>
      <div class="vlaue" id="context-value">context</div>
    </div>
    <!--Competency-->
    <div class="key-value-container">
      <div class="key">Competency</div>
      <div class="vlaue" id="competency-value">competency</div>
    </div>
    <!--Rating-->
    <div class="key-value-container">
      <div class="key">Rating</div>
      <div class="vlaue" id="rating-value">
        <span id="star1">&#9733;</span>
        <span id="star2">&#9733;</span>
        <span id="star3">&#9733;</span>
        <span id="star4">&#9733;</span>
      </div>
    </div>
    <!--Positive Message-->
    <div class="key-value-container">
      <div class="key">Positive</div>
      <div class="vlaue" id="positive-value">positive message</div>
    </div>
    <!--Negative Message-->
    <div class="key-value-container">
      <div class="key">To be Improved</div>
      <div class="vlaue" id="negative-value">negative message</div>
    </div>
  </div>

  <!--Continuous Section-->
  <div class="feedback-section" id="continuous-section">
    <h3>Continuous Type Fields</h3>
    <hr />
    <!--Actions-->
    <div class="key-value-container">
      <div class="key">Actions</div>
      <div class="vlaue" id="actions-value">actions</div>
    </div>
    <!--Responsible-->
    <div class="key-value-container">
      <div class="key">Responsible</div>
      <div class="vlaue" id="responsible-value">responsible</div>
    </div>
    <!--Status-->
    <div class="key-value-container">
      <div class="key">Status</div>
      <div class="vlaue" id="status-value">status</div>
    </div>
    <!--Deadline-->
    <div class="key-value-container">
      <div class="key">Deadline</div>
      <div class="vlaue" id="deadline-value">deadline</div>
    </div>
  </div>

  <!--Appraiser Section-->
  <div class="feedback-section" id="appraiser-section">
    <h3>Appraiser Section</h3>
    <hr />
    <!--Positive Appraiser Edit-->
    <div class="key-value-container">
      <div class="key">Positive</div>
      <div class="vlaue" id="appraiser-positive-value">positive message appraiser edit</div>
    </div>
    <!--Negative Appraiser Edit-->
    <div class="key-value-container">
      <div class="key">To be Improved</div>
      <div class="vlaue" id="appraiser-negative-value">negative message appraiser edit</div>
    </div>
    <!--Appraiser Notes-->
    <div class="key-value-container">
      <div class="key">My Notes</div>
      <div class="vlaue" id="appraiser-notes-value">appraiser notes</div>
    </div>
  </div>

  <!--Options Section-->
  <div class="feedback-section" id="options-section">
    <h3>Options</h3>
    <hr />
    <div id="options-buttons-container">
      <button class="options-button cmf-button cmf-button-primary" id="unread-button">Mark as Unread</button>
      <button class="options-button cmf-button cmf-button-primary" id="share-with-appraiser-button">Share with Appraiser</button>
      <button class="options-button cmf-button cmf-button-primary" id="share-with-manager-button">Share with Manager</button>
      <button class="options-button cmf-button cmf-button-primary" id="share-with-target-button">Share with Target</button>
      <button class="options-button cmf-button cmf-button-primary" id="edit-button">Edit</button>
      <button class="options-button cmf-button cmf-button-primary" id="delete-button">Delete</button>
    </div>
  </div>
  <!--

    BASIC INFO
      from | sender name
      to | target name
      date | submission date
      time | submission time
      positive msg | text
      negative msg | text
      competency | competency
      rating | stars

    CONTINUOUS FIELDS
      actions | text
      responsible | responsible name
      status | text
      deadline | date and time

    APPRAISER
      positive msg appraiser edit | text
      negative msg appraiser edit | text
      appraiser notes | text

    OPTIONS
      mark as unread | button
      share with appraiser | button
      share with manager | button
      share with target | button
      edit | button
      delete | button
  
  
  
  
  
  
  
  
  
  
  
  
  
  -->
  <p>
    Sent from <b><span id="sender">sender</span></b> to <b><span id="target">target</span></b> on <b><span id="date">0000-00-00</span></b> at <b><span id="time">00:00:00</span></b>
  </p>
  <div id="positive-message-container">
    <div id="positive-message-display-mode">
      <p id="positive">positive message</p>
      <button class="edit-button appraiser-only" id="edit-positive-message-button">
        <i class="fa fa-edit"></i>
        <span>edit</span>
      </button>
      <a id="positive-anchor">show appraiser edit</a>
    </div>
    <div id="positive-message-edit-mode" hidden>
      <textarea id="positive-message-textarea" placeholder="Write your private notes here..."></textarea>
      <div class="save-button-container">
        <button id="positive-message-save-button" class="cmf-button cmf-button-primary">Save</button>
      </div>
    </div>
  </div>
  <div id="negative-message-container">
    <div id="negative-message-display-mode">
      <p id="negative">negative message</p>
      <button class="edit-button appraiser-only" id="edit-negative-message-button">
        <i class="fa fa-edit"></i>
        <span>edit</span>
      </button>
      <a id="negative-anchor">show appraiser edit</a>
    </div>
    <div id="negative-message-edit-mode" hidden>
      <textarea id="negative-message-textarea" placeholder="Write your private notes here..."></textarea>
      <div class="save-button-container">
        <button id="negative-message-save-button" class="cmf-button cmf-button-primary">Save</button>
      </div>
    </div>
  </div>
  <p>
    Competency: <b><span id="competency">competency</span></b>
  </p>
  <div class="star-container">
    Rating:
    <span id="star1">&#9733;</span>
    <span id="star2">&#9733;</span>
    <span id="star3">&#9733;</span>
    <span id="star4">&#9733;</span>
  </div>
  <p>
    <label for="unread-checkbox">Mark as unread</label>
    <input type="checkbox" id="unread-checkbox" name="unread-checkbox" />
  </p>
  <div class="split-vert appraiser-only">
    <p>
      <label for="share-checkbox">Share with <span id="share-span">target</span></label>
      <input type="checkbox" id="share-checkbox" name="share-checkbox" />
    </p>
    <div id="appraiser-notes-container">
      Your private notes:
      <div id="appraiser-notes-display-mode">
        <p id="appraiser-notes"><i>your notes</i></p>
        <button class="edit-button" id="edit-appraiser-notes-button">
          <i class="fa fa-edit"></i>
          <span>edit</span>
        </button>
      </div>
      <div id="appraiser-notes-edit-mode" hidden>
        <textarea id="appraiser-notes-textarea" placeholder="Write your private notes here..."></textarea>
        <div class="save-button-container">
          <button id="appraiser-notes-save-button" class="cmf-button cmf-button-primary">Save</button>
        </div>
      </div>
    </div>
  </div>
  <div>
    <button class="cmf-button cmf-button-primary" id="delete-button" hidden>Delete</button>
  </div>
</div>
