<div class="split-vert">
  <h3 id="name" style="margin-bottom: 0">Name</h3>
  <div class="shell-landingpage">
    <a href="#/MyFeedbacks" class="shell-landingpage-item">
      <i class="shell-landingpage-item-icon fa fa-list-ul" id="name-icon" aria-hidden="true"></i>
      <div>My Feedbacks</div>
    </a>
    <a href="#/SubmitFeedback" class="shell-landingpage-item">
      <i class="shell-landingpage-item-icon fa fa-pencil" aria-hidden="true"></i>
      <div>Submit Feedback</div>
    </a>
    <a href="#/Profile" class="shell-landingpage-item" id="appraiser-link" hidden>
      <i class="shell-landingpage-item-icon fa fa-envelope" aria-hidden="true"></i>
      <div>Mail Appraiser</div>
    </a>
    <button id="sign-out-button" class="shell-landingpage-item">
      <i class="shell-landingpage-item-icon fa fa-power-off" aria-hidden="true"></i>
      <div>Sign Out</div>
    </button>
  </div>
</div>
