<form class="form" onsubmit="return false;" style="width: 90%">
  <div class="split-vert">
    <div class="split-hor">
      <div class="split-vert">
        <!--Labels-->
        <div class="form-field form-label">
          <span><b>Name:</b></span>
        </div>
        <div class="form-field form-label">
          <span><b>Category:</b></span>
        </div>
        <div class="form-field form-label">
          <span><b>Type:</b></span>
        </div>
        <div class="form-field form-label">
          <span><b>Privacy:</b></span>
        </div>
        <div class="form-field form-label">
          <span><b>Title:</b></span>
        </div>
        <div class="form-field form-label">
          <span><b>Body:</b></span>
        </div>
      </div>

      <!--Inputs-->
      <div class="split-vert" style="flex-grow: 1">
        <!--Name-->
        <input type="text" class="form-field form-input" id="name-input" placeholder="Search name..." />
        <!--Category-->
        <select class="form-field form-select" id="category-input">
          <option value="" disabled selected>Select a category</option>
          <option value="general">General</option>
          <option value="execution-and-delivery">Execution and Delivery</option>
          <option value="innovation">Innovation</option>
          <option value="agility">Agility</option>
          <option value="commitment">Commitment</option>
          <option value="communication">Communication</option>
          <option value="customer-orientation">Customer Orientation</option>
        </select>
        <!--Type-->
        <select class="form-field form-select" id="type-input">
          <option value="" disabled selected>Select an type</option>
          <option value="positive">Positive</option>
          <option value="negative">Needs Improvement</option>
        </select>
        <!--Privacy-->
        <select class="form-field form-select" id="privacy-input">
          <option value="" disabled selected>Select Privacy</option>
          <option value="anonymous">Anonymous</option>
          <option value="private">Private</option>
          <option value="public">Public</option>
        </select>
        <!--Title-->
        <input type="text" class="form-field form-input" id="title-input" placeholder="Enter title..." />
        <!--Body-->
        <textarea class="form-field form-textarea" id="body-input" placeholder="Enter feedback here..." style="min-height: 100px; flex-grow: 1"></textarea>
      </div>

      <!--Tooltips-->
      <div class="split-vert">
        <div class="form-field form-icon">
          <i class="fa fa-info-circle" id="name-icon" aria-hidden="true"></i>
          <div class="tooltip" id="name-tooltip"></div>
        </div>
        <div class="form-field form-icon">
          <i class="fa fa-info-circle" id="category-icon" aria-hidden="true"></i>
          <div class="tooltip" id="category-tooltip"></div>
        </div>
        <div class="form-field form-icon">
          <i class="fa fa-info-circle" id="type-icon" aria-hidden="true"></i>
          <div class="tooltip" id="type-tooltip"></div>
        </div>
        <div class="form-field form-icon">
          <i class="fa fa-info-circle" id="privacy-icon" aria-hidden="true"></i>
          <div class="tooltip" id="privacy-tooltip"></div>
        </div>
        <div class="form-field form-icon">
          <i class="fa fa-info-circle" id="title-icon" aria-hidden="true"></i>
          <div class="tooltip" id="title-tooltip"></div>
        </div>
        <div class="form-field form-icon">
          <i class="fa fa-info-circle" id="body-icon" aria-hidden="true"></i>
          <div class="tooltip" id="body-tooltip"></div>
        </div>
      </div>
    </div>

    <div id="submit-button-container">
      <button type="submit" class="cmf-button cmf-button-primary" id="submit-button">Submit</button>
    </div>
  </div>
</form>
