<div class="split-vert" style="width: fit-content">
  <div class="split-hor">
    <div class="split-vert">
      <form class="form" onsubmit="return false;">
        <label class="property-label-input" id="label-environment1-name"><b>Environment 1</b></label>
        <select class="combobox" id="input-select-environment1-name" name="input-select-environment1-name">
          <option style="display: none"></option>
        </select>

        <p class="property-label">
          <label class="property-label-input" for="input-installation-path1">Installation Path:</label>
          <input type="text" class="input-text" id="input-installation-path1" name="input-installation-path1" /><br />
        </p>
      </form>
    </div>

    <div class="split-vert">
      <form class="form" onsubmit="return false;">
        <label class="property-label-input" id="label-environment2-name"><b>Environment 2</b></label>
        <select class="combobox" id="input-select-environment2-name" name="input-select-environment2-name">
          <option style="display: none"></option>
        </select>

        <p class="property-label">
          <label class="property-label-input" for="input-installation-path2">Installation Path:</label>
          <input type="text" class="input-text" id="input-installation-path2" name="input-installation-path2" /><br />
        </p>
      </form>
    </div>
  </div>

  <br />

  <div class="split-hor">
    <div class="split-vert">
      <button class="cmf-button cmf-button-primary" id="button-A">Primary button (enabled)</button>
      <button class="cmf-button cmf-button-primary" id="button-B" disabled>Primary button (disabled)</button>
    </div>
    <div class="split-vert">
      <button class="cmf-button cmf-button" id="button-C">Secondary button (enabled)</button>
      <button class="cmf-button cmf-button" id="button-D" disabled>Secondary button (disabled)</button>
    </div>
  </div>

  <br />

  <a id="link-A">Link to another page</a>

  <br />

  <div class="split-hor">
    <div class="data-grid-wrapper" id="example-data-grid" style="width: 100%"></div>
  </div>

  <button class="cmf-button cmf-button-primary" id="button-E">Server request</button>
</div>
